.profile__side-bar{
    padding-top: 11rem;
    width: 15rem;
    // border: 1px solid blue;
    background-color: #f4ebe9;
    border-top: 1px solid white;

    .menu__side-bar{
        list-style-type: none;
        .menu-item__side-bar{
            border-bottom: 1px solid white;
            padding: 1rem 2rem;
            font-size: 1.8rem;
            font-weight: 700;
            color: #3D4A3D;
            &:hover{
                background-color: #D9F9D9;
            }
            &.actived{
                background-color: #D9F9D9;
            }
        }
    }
}