doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title change-password
    body 
        div.change-password
         div.change-password__block
            h1.change-password__title change-password
            form#change-password-form
                input#password-change-password__form(type="password" placeholder="password")
                input#submit-change-password__form(type="submit" value="Submit")
        script(src='../bundle.js')
        script(type="module" src='../js/change-password.js')